




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.css" type="text/css" rel="stylesheet" />

</head>
<body>

    
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <center> <h1><b>Calendar  </b></h1></center>
                            <<a href="@Url.Action("Home", "TeamLeader")">
                                    <i class="menu-icon icon-dashboard"></i>Home
                            <br />
                            <div id="bootstrapModalFullCalendar"></div>
                        </div>
                    </div>
                </div>
                <div id="fullCalModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                                <h4 id="modalTitle" class="modal-title"></h4>
                            </div>
                            <div id="modalBody" class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
           

                <script src="https://code.jquery.com/jquery.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $.ajax({
                            type: "GET",
                            url: "/Meeting/GetMeetings",
                            success: function (data) {
                                var events = [];
                               
                                loadCalendar(data);
                            }
                        });

                        function loadCalendar(myevents) {
                            $('#bootstrapModalFullCalendar').fullCalendar({
                                header: {
                                    left: '',
                                    center: 'prev title next',
                                    right: ''
                                },
                                eventClick: function (event, jsEvent, view) {
                                    $('#modalTitle').html(event.title);
                                    $('#modalBody').html("<img src=" + event.fichier + ">");
                                    $('#eventUrl').attr('href', event.url);
                                    $('#fullCalModal').modal();
                                    return false;
                                },
                                events: myevents

                            });
                        }
                        
                    });
                </script>
</body>
</html>
