
@{
    Layout = "~/Views/Shared/LayoutTeamLeader.cshtml";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>

    
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <center> <h2><b>Calendar </b></h2></center>
                            <br />
                            <div id="bootstrapModalFullCalendar"></div>
                        </div>
                    </div>
                </div>
                <div id="fullCalModal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                                <h4 id="modalTitle" class="modal-title"></h4>
                            </div>
                            <div id="modalBody" class="modal-body"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
           

                <script src="https://code.jquery.com/jquery.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.1/fullcalendar.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $('#bootstrapModalFullCalendar').fullCalendar({
                            header: {
                                left: '',
                                center: 'prev title next',
                                right: ''
                            },
                            eventClick: function (event, jsEvent, view) {
                                $('#modalTitle').html(event.title);
                                $('#modalBody').html("<img src=" + event.fichier + ">");
                                $('#eventUrl').attr('href', event.url);
                                $('#fullCalModal').modal();
                                return false;
                            },
                            events: ''

                        });
                    });
                </script>
</body>
</html>
